.main{
	display: block;
}

.left{
	float: left;
	display: inline-block;
	padding-left: 20px;

}
.center{
	display: inline-block;
	padding-left: 100px;
	
}

.right{
	float: right;
	display: inline-block;
	;
}


#burger_menu{
	height: 15px;
}

#youtube_logo{
	height: 80px;
}

#search_bar{
	width: 590px;
	height: 25px;
}

#search_button{
	height:18px;
}

#avatar{
	height: 30px;
	border-radius: 50%;

}

.main{
	background: #ebebe0
}

.main{
	padding: 20px;
	margin: auto;
	width: 50%;
	
}